modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "xcodebuild", "zlib"]

[workflows]
runButton = "Dashboard Principal"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Install Dependencies"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "RSS WordPress Automation"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dashboard"

[[workflows.workflow]]
name = "Install Dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add feedparser readability-lxml beautifulsoup4 lxml requests python-dateutil apscheduler python-slugify urllib3 pillow"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "RSS WordPress Automation"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"



[[workflows.workflow]]
name = "Executar Ciclo Único"
author = 46387975
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py --once"

[[workflows.workflow]]
name = "Dashboard Principal"
author = 46387975
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python dashboard.py"

[[ports]]
localPort = 8080
externalPort = 800
